{% extends "layouts/base.html" %}

{% block title %} CAMERA ACTION {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}





    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Camera Action</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Camera Action</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>AI-MOOD</h5>
                                </div>


                             <div class="card-block">
                                <ol>
                                    <h3>How to use:</h3>
                                    <li>  <h5> Click on the button: "Start Application" </h5></li>
                                    <a href="{% url 'video_feed'%}"  class="btn btn-success">Start Application</a>
                                    <li>  <h5>Turn back and clik on the button: "Stop Application" </h5></li>
                                    <a  href="{% url 'charts'%}" href="{% url 'kill_video'%}" class="btn btn-danger">Stop Application</a>
                                </ol>


                             </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>



                    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
